{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-preact"],
  "plugins": [
    "react",
    "jest"
  ],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true,
    "jest/globals": true
  }
}