.wrap {
  width: 100%;
  height: 100%;
  background: #000;
}
.mainBody, .mainBody>div, .herowrap {
  position: relative;
}
.registerTab, .rulesTab, .dashboard, .streamVideo {
  display: none;
  position: relative;
  z-index: 5;
}
.register>.registerTab,
.rules>.rulesTab {
  display: block;
}
.rulesTab,
.registerTab {
  padding: 20px 30px;
  line-height: 32px;
}
.overlayText {
  display: none;
}
.overlayText,
.overlayTextLive {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  font-size: 24px;
  text-align: center;
  z-index: 100;
}
/* 實況頁永遠顯示戰績; 比賽開始之後, 首頁顯示戰績 */
.live .dashboard,
.wrap-started .home .dashboard,
.wrap-live .home .dashboard,
.wrap-ended .home .dashboard {
  display: block;
}
/* 實況頁顯示直播時間 */
.live .overlayText {
  display: block;
  text-align: center;
  align-self: center;
}
/* 顯示直播, 藏背景影片 */
.wrap-started .live .streamVideo,
.wrap-ended .live .streamVideo,
.wrap-live .streamVideo {
  display: block;
}
.wrap-started .live .bgVideo,
.wrap-ended .live .bgVideo {
  display: none;
}
.streamVideo {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
@keyframes pulse1 {
  from { opacity: 0.7; }
  50% { opacity: 1; }
  to { opacity: 0.7; }
}
.overlayTextLive {
  animation-name: pulse1;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
.stream {
  margin: 0 auto;
  display: inline-block;
}
.announcement {
  background: #AA0905;
  font-size: 16px;
  padding: 10px 30px;
  text-align: center;
}
.bgVideo {
  position: relative;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
.bgVideo iframe {
  opacity: 0.5;
}
.bgVideoMask {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.eventTitle {
  position: absolute;
  left: 30px;
  bottom: 20px;
  font-weight: 700;
  color: #eee;
  font-size: 26px;
  line-height: 44px;
  z-index: 10;
  opacity: 0.9;
  text-align: left;
}
.eventTitle .time {
  font-family: Palatino;
}
@keyframes dissolve {
  from { opacity: 1; background: #000; }
  90% { opacity: 1; background: #000; }
  to { opacity: 0.5; }
}
.videoCredit {
  position: absolute;
  right: 0;
  width: 100%;
  padding: 0 20px 0 0;
  bottom: 0px;
  height: 50px;
  line-height: 50px;
  background: transparent;
  color: #eee;
  text-align: right;
  animation-name: dissolve;
  animation-duration: 10s;
  animation-iteration-count: 1;
  opacity: 0.5;
  font-size: 15px;
}
.videoCredit a:link,
.videoCredit a:visited {
  text-decoration: none;
  color: #eee;
}
.videoCredit a:hover {
  text-decoration: underline;
}
.loading,
.noData {
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 2px;
  color: #fff;
  margin: 200px auto;
  text-align: center;
}
.noData {
  margin: 20px auto;
}
.managerList {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0;
  color: #fff;
  font-size: 14px;
  border-top: 1px solid #555;
}
.managerList > div {
  position: relative;
  font-size: 0;
  vertical-align: top;
}
@keyframes pulse {
  from { opacity: 0.1; }
  50% { opacity: 1; }
  to { opacity: 0.1; }
}
.raceSelector {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0 0 0;
}
.raceSelector .li,
.raceSelector .selected {
  position: relative;
  color: #fff;
  height: 28px;
  line-height: 28px;
  text-align: left;
  margin: 0;
  border-radius: 3px 3px 0 0;
  border: 1px solid transparent;
}
.raceSelector .selected {
  background: #aaa;
  border: 1px solid #555;
}
.raceSelector .li button,
.raceSelector .selected button {
  position: relative;
  margin: 0;
  padding: 0 8px;
  border: 0;
  font-size: 13px;
  text-indent: 0;
}
.init {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  border-radius: 3px 3px 0 0;
}
.started {
  composes: init;
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  background: rgba(43, 171, 2, 0.7);
}
.ended {
  composes: init;
  background: rgba(165,124,9, 0.7);
}
.submitted {
  composes: init;
  background: rgba(37,99,17, 0.7);
}
.list {
  display: block;
  height: 100%;
  width: 100%;
  text-align: left;
  text-decoration: none;
  color: #fff;
  margin: 0 0 0 10px;
  padding: 0 40px 0 0;
  text-indent: 5px;
  border: 0;
  background: 0;
  border-bottom: 1px solid #ddd;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  outline: none;
  position: relative;
  letter-spacing: 0.5px;
}
.listFt {
  position: absolute;
  bottom: 121px;
  background: rgba(66,66,66,0.2);
  width: 99.5%;
  height: 36px;
}
.form {
  max-width: 600px;
  margin: 0 auto;
}
.form h3 {
  margin: 0;
  text-align: center;
}
.form h4 {
  margin: 10px 0;
  font-weight: 300;
  text-align: center;
}
.right {
  float: right;
}
.dashItem {
  height: 32px;
  line-height: 32px;
  border-bottom: 1px solid #555;
}
.dashTable {
  background: 0;
  margin: 0;
  padding: 0;
  border: 0;
  flex-shrink: 0;
  color: #fff;
}
.dashId {
  border-bottom: 1px solid #555;
}
.dashTable thead {
  background: #333
}
.dashTable th,
.dashTable td {
  padding: 0 10px;
  height: 32px;
  border-left: 0;
  border-right: 1px solid #555;
  min-width: 50px;
  font-size: 13px;
  position: relative;
}
.dashTable th {
  height: 31px;
  white-space: nowrap;
  border-bottom: 1px solid #555;
  text-align: center;
}
.dashTable tbody tr:first-child {
  height: 33px;
}
.dashTable tbody tr {
  background: 0;
  height: auto;
  line-height: 0;
}
.dashTable .no {
  text-align: center;
  background: #333;
}
.dashTable .name {
  white-space: nowrap;
}
.dashTable .lap {
  font-size: 13px;
  text-align: center;
  color: #fff;
  font-family: Garamond, Times;
  padding: 0 6px;
}
.raceNumber {
  margin: 0 5px 0 0;
}
.scrollBox {
  overflow-x: scroll;
  overflow: auto;
  border-bottom: 1px solid #555;
  flex-grow: 1;
}
.scrollBox table {
  width: 100%;
}
.summary {
  border-bottom: 1px solid #555;
  background: #191919;
}
.summary .lap {
  padding: 0 10px;
  text-align: center;
}
.advTable {
  border-bottom: 1px solid #555;
  background: #191919;
}
.center {
  text-align: center;
}
.footer {
  padding: 30px 0;
  color: #fff;
  font-size: 11px;
  text-align :center;
}

@media only screen and (max-width: 740px) {
  .raceSelector .li button,
  .raceSelector .selected button {
    padding: 0 5px;
    font-size: 13px;
  }
  .rulesTab,
  .registerTab {
    padding: 10px 15px;
    line-height: 28px;
  }
  .dashId th:first-child,
  .dashId td:first-child {
    padding: 0 5px;
    min-width: 20px;
  }
  .advTable th:last-child,
  .advTable td:last-child {
    padding: 0 8px;
    min-width: 20px;
  }
  .overlayText,
  .overlayTextLive {
    top: 30px;
    font-size: 18px;
  }
  .bgVideo {
    opacity: 1;
  }
  .eventTitle {
    font-size: 15px;
    line-height: 20px;
    bottom: 10px;
    left: 20px;
  }
  .videoCredit {
    bottom: 0;
    background: transparent;
    height: 20px;
    line-height: 20px;
    font-size: 13px;
    padding: 0 20px 0 0;
  }
}